<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="main">
        <ion-icon name="mic-outline"></ion-icon>
        <h3>Radio Login</h3>
        <ion-input type="text" placeholder="Username"></ion-input>
        <ion-input type="password" placeholder="Password"></ion-input>
        <ion-router-link href="/welcome"><ion-button expand="block">Login</ion-button></ion-router-link>
        <p>Don't have an account? <ion-router-link href="/register">Register</ion-router-link></p>
        <!-- <ion-router-link href="/register"><ion-button expand="block">Register</ion-button></ion-router-link> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
