.background{
    background: #14274E;
    h3{
        font-weight: bold;
        text-align: left;
        color:#fff;
      }
      ion-icon{
        font-size: 20px;
        color: #fff;
        margin: 0 auto !important;
      }
  }
  ion-router-link{
    font-weight: bold;
    color: #14274E;
}